section.corporate
    .l-default
        h1.corporate__title.title.title--h1 Банки, МФО, КПК
        .corporate__items
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('banks')
                .corporate__item-title Кредитные истории
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('banks')
                .corporate__item-title Оценка рисков
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('banks')
                .corporate__item-title Верификация персональных данных
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('verificate')
                .corporate__item-title Сервисы федеральных служб