-
    const scoring_items = [
        {
            date: '25.08.2021',
            time: '15:03:03',
            score: '489',
            word: 'Хорошо',
            class: 'good',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            score: '234',
            word: 'Удовлетворительно',
            class: 'satisfactorily',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            score: '345',
            word: 'Нормально',
            class: 'normal',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            score: '590',
            word: 'Отлично',
            class: 'best',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            score: '489',
            word: 'Хорошо',
            class: 'good',
        },
    ]