header.header
  .header__wrapper
    .header__burger   
      span 
      span 
    .header__logo
      +svgColor('logo')
    a.header__link(href="") Cайт Бюро
    .header__status
      .header__status-top
        .header__status-title Ваш статус:
      .header__status-body
        .header__status-text Сервис недоступен
        .header__status-icon
    .header__acc
      .header__acc-user
        +svgMono('user')
      .header__acc-name Иванов Иван П.
      .header__acc-logout
        +svgMono('logout')
      .header__menu
        .header__menu-container
          .header__menu-item Lorem ipsum dolor
          .header__menu-item Lorem ipsum dolor
