.ico-mono-agents {
  width: 1em;
  height: 1em;
  fill: #aa353d;
}
.ico-mono-alerts {
  width: 0.88em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-arrow {
  width: 1.57em;
  height: 1em;
  fill: #83B143;
}
.ico-mono-banks {
  width: 1em;
  height: 1em;
  fill: #aa353d;
}
.ico-mono-ckki {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-companies {
  width: 1em;
  height: 1em;
  fill: #aa353d;
}
.ico-mono-emblem {
  width: 1.02em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-jku {
  width: 1em;
  height: 1em;
  fill: #aa353d;
}
.ico-mono-logout {
  width: 1em;
  height: 1em;
  fill: #919497;
}
.ico-mono-personal {
  width: 1.03em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-question {
  width: 1em;
  height: 1em;
  fill: #D0D0D0;
}
.ico-mono-questions {
  width: 0.97em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-report-consolidated {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-report-subscription {
  width: 1.14em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-report {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-reports-agents {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-scoring {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-services {
  width: 1.07em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-tech {
  width: 0.88em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-upload {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
.ico-mono-user {
  width: 0.88em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-verificate {
  width: 1em;
  height: 1em;
  fill: #AA353D;
}
.ico-mono-visible {
  width: 1em;
  height: 1em;
  fill: #696B6F;
}
