.ico-color-a2a {
  width: 0.7em;
  height: 1em;
}
.ico-color-colors {
  width: 0.72em;
  height: 1em;
}
.ico-color-forgot {
  width: 1em;
  height: 1em;
}
.ico-color-logo {
  width: 5.21em;
  height: 1em;
}
.ico-color-pdf {
  width: 0.72em;
  height: 1em;
}
.ico-color-scheme {
  width: 0.72em;
  height: 1em;
}
.ico-color-search {
  width: 1em;
  height: 1em;
}
.ico-color-word {
  width: 0.72em;
  height: 1em;
}
.ico-color-xml-icon {
  width: 0.7em;
  height: 1em;
}
.ico-color-xml {
  width: 0.72em;
  height: 1em;
}
.ico-color-ya {
  width: 1em;
  height: 1em;
}
