-
    const services = [
        {
            icon: 'scoring',
            title: 'Кредитный скоринг',
            price: '',
            class: '',
        },
        {
            icon: 'report',
            title: 'Кредитный отчет',
            price: '379 ₽',
            class: '',
        },
        {
            icon: 'report-consolidated',
            title: 'Сводный отчет бюро',
            price: '',
            class: '',
        },
        {
            icon: 'ckki',
            title: 'Запрос в ЦККИ',
            price: '379 ₽',
            class: 'active',
        },
        {
            icon: 'report-subscription',
            title: 'Подписка на кредитный отчет',
            price: '',
            class: '',
        },
        {
            icon: 'alerts',
            title: 'Сервис оповещений',
            price: '',
            class: 'active',
        },
    ];