sidebar.sidebar.sidebar-edit
    .sidebar__top
        .sidebar__top-icon
            +svgMono('arrow-dropdown')
        .sidebar__top-text Загрузки
    .sidebar__icons
        a.sidebar__icon(href="")
            +svgMono('add-fl')
        a.sidebar__icon(href="")
            +svgMono('add-ur')
        a.sidebar__icon(href="")
            +svgMono('print')
    include ../.././components/menu/menu-edit.pug
    