-
    const menu = [
        {
            href: '/homepage.html',
            text: 'Услуги бюро',
            iсon: 'services',
            class: 'active',
        },
        {
            href: '/scoring.html',
            text: 'Кредитный скоринг',
            iсon: 'scoring',
            class: '',
        },
        {
            href: '/report.html',
            text: 'Кредитный отчет',
            iсon: 'report',
            class: '',
        },
        {
            href: '/report-consolidated.html',
            text: 'Сводный отчет бюро',
            iсon: 'report-consolidated',
            class: '',
        },
        {
            href: '/ckki.html',
            text: 'Запрос в ЦККИ',
            iсon: 'ckki',
            class: '',
        },
        {
            href: '',
            text: 'Кредитные отчеты от агентов',
            iсon: 'reports-agents',
            class: '',
        },
        {
            href: '',
            text: 'Оповещения',
            iсon: 'alerts',
            class: '',
        },
        {
            href: '',
            text: 'Вопросы и ответы',
            iсon: 'questions',
            class: '',
        },
        {
            href: '',
            text: 'Техподдержка',
            iсon: 'tech',
            class: '',
        },
        {
            href: '',
            text: 'Персональные данные',
            iсon: 'personal',
            class: '',
        },
        {
            href: '',
            text: 'Корпоративным клиентам',
            iсon: 'personal',
            class: '',
        },
    ]
        