section.section
    .l-default 
        h1.section__title.title.title--h1 История платежей
        .swiper-container.report__table-slider.table-slider
            .swiper-wrapper
                table.section__table.table.swiper-slide
                    thead 
                        tr 
                            td Услуга
                            td Дата
                            td Статус заказчика
                            td Сумма платежа
                    tbody   
                        tr 
                            td Кредитный скоринг
                            td
                                .table-td
                                    .date 25.08.2021
                                    .time 15:03:03
                            td
                                .status 
                                    img(src="img/svg/checked.svg", alt="")
                            td
                                .price 50 <span>₽</span>
                        tr 
                            td Кредитный скоринг
                            td
                                .table-td
                                    .date 25.08.2021
                                    .time 15:03:03
                            td
                                .status 
                                    img(src="img/svg/checked.svg", alt="")
                            td
                                .price 50 <span>₽</span>

                            