section.section 
    .l-default
        h1.section__title.title.title--h1 Запрос в ЦККИ
        .section__content
            .section__items
                .section__text.section__text 
                    p Центральный каталог кредитных историй (ЦККИ) - это структурное подразделение Банка России, которое ведет базу данных для поиска БКИ, в которых содержится кредитная история субъекта кредитной истории.
                    p На основании закона кредитные организации должны передать информацию хотя бы в одно бюро. Клиент кредитной организации имеет право на получение своей кредитной истории, а также вправе требовать информацию о том, в каком(их) бюро она хранится.
                    p Кредитная история может находиться в одном или нескольких бюро одновременно. Информация в кредитной истории из этих бюро может отличаться или полностью совпадать. Для того, чтобы узнать в какие бюро кредитные организации передавали сведения о кредитах, следует выполнить запрос в ЦККИ. 
            .section__sidebar
                .section__get
                    a.section__get-btn.btn.btn--green(href="") Запросить
                    a.section__get-btn.btn(href="") Скачать пример
                .section__message
                    .section__message-img
                        +webp(['1'], 'jpg', 'lazy')
                    .section__message-content
                        .section__message-title Сервис оповещений
                        .section__message-text Всем пользователям, ранее не подключавшим оповещения, Сервис оповещений доступен бесплатно в течение 1-го месяца. Для активации предложения выберите бесплатный пробный период подписки – 1 месяц.
                        a.section__message-btn.btn.btn--green(href="") Перейти 
