section.section 
    .l-default
        h1.section__title.title.title--h1 Оповещения
        .section__content
            .section__items
                .section__subtitle 
                    strong СЕРВИС ОПОВЕЩЕНИЙ — это полный контроль изменений своей кредитной истории в вашем кармане на экране телефона.
                .section__text.section__text 
                    p Бюро предлагает своим Клиентам услугу «Сервис оповещений». По электронной почте или СМС Вы получаете уведомления о существенных изменениях в Вашей кредитной истории. Также все полученные оповещения будут сохранены в данном разделе Личного кабинета.
                    p Сервис поможет Вам защититься от мошенников (своевременно отреагировать на попытки оформления кредита) и возможных неправомерных действий пользователей кредитной истории. 
            .section__sidebar
                .section__get
                    .section__get-cost 
                        .section__get-cost--title Стоимость услуги
                        .section__get-cost--price от <span>0</span> ₽
                    a.section__get-btn.btn.btn--green(href="") Подключить
                .section__message
                    .section__message-img
                        +webp(['1'], 'jpg', 'lazy')
                    .section__message-content
                        .section__message-title Сервис оповещений
                        .section__message-text Всем пользователям, ранее не подключавшим оповещения, Сервис оповещений доступен бесплатно в течение 1-го месяца. Для активации предложения выберите бесплатный пробный период подписки – 1 месяц.
                        a.section__message-btn.btn.btn--green(href="") Перейти 
