section.alerts-tabs
    .l-default 
        h1.alerts-tabs__title.title.title--h1 Подключение оповещения
        .alerts-tabs__tabs
            .alerts-tabs__tabs-content
                .alerts-tabs__tab.active <span>1</span> Ваши данные
                .alerts-tabs__tab <span>2</span> Настройка событий
                .alerts-tabs__tab <span>3</span> Доставка и период
                .alerts-tabs__tab <span>4</span> Оплата
        .alerts-tabs__item.active
            .alerts-tabs__item-top
                .alerts-tabs__item-title Выберите актуальные данные
            form.alerts-tabs__item-form.form
                .form__inputs
                    .form__input
                        label Фамилия Имя Отчество
                        select.select(name="type")  
                            option(selected="selected") Иванов Иван Петрович
                            option Иванов Иван Петрович1
                            option Иванов Иван Петрович2
                            option Иванов Иван Петрович3
                    .form__input
                        label Документ
                        select.select(name="type")  
                            option(selected="selected") 6011 9654231 выдан 08.10.2014
                            option 6011 9654231 выдан 08.10.2014
                            option 6011 9654231 выдан 08.10.2014
                            option 6011 9654231 выдан 08.10.2014
                .form__btns
                    a.form__submit.btn.btn--green.btn--next(href="") Далее
        .alerts-tabs__item
            .alerts-tabs__item-top
                .alerts-tabs__item-title Отметте данные об изменениях
            .alerts-tabs__item-subtitle Отметте те данные об изменениях в которых  Вы хотели бы получать оповещения. Данный параметр можно настроить в любой момент при подключении услуги. 
            form.alerts-tabs__item-form.form
                .form__checkboxes
                    .form__checkboxes-number 1
                    .form__checkboxes-items
                        .form__checkboxes-title Произошли именения в персональных данных
                        .form__input.form__checkbox
                            input(type="checkbox" id="1")
                            label.form__checkbox-label(for="1") Ф.И.О. 
                        .form__input.form__checkbox
                            input(type="checkbox" id="2")
                            label.form__checkbox-label(for="2") Паспортные данные
                .form__checkboxes
                    .form__checkboxes-number 2
                    .form__checkboxes-items
                        .form__checkboxes-title Оформление или погашение кредитов
                        .form__input.form__checkbox
                            input(type="checkbox" id="3")
                            label.form__checkbox-label(for="3") Оформлен новый кредит
                        .form__input.form__checkbox
                            input(type="checkbox" id="4")
                            label.form__checkbox-label(for="4") Погашен кредит
                .form__checkboxes
                    .form__checkboxes-number 3
                    .form__checkboxes-items
                        .form__checkboxes-title Информирование о следующем платеже
                        .form__input.form__checkbox
                            input(type="checkbox" id="5")
                            label.form__checkbox-label(for="5") Следующий платеж
                .form__btns
                    a.form__submit.btn.btn--prev(href="") Назад
                    a.form__submit.btn.btn--green.btn--next(href="") Далее
        .alerts-tabs__item
            .alerts-tabs__item-top
                .alerts-tabs__item-title Выберите способ доставки оповещений
            form.alerts-tabs__item-form.form
                .form__checkboxes.form__checkboxes-top
                    .form__input.form__checkbox
                        input(type="checkbox" id="6")
                        label.form__checkbox-label(for="6") SMS сообшения 
                    .form__input.form__checkbox
                        input(type="checkbox" id="7")
                        label.form__checkbox-label(for="7") Оповещения на E-mail
                .form__inputs.form__inputs-top
                    .form__input
                        label Ваш номер телефона:
                        input(type="tel" required) 
                    .form__input
                        label Ваш E-mail:
                        input(type="email" required) 
                .alerts-tabs__item-top
                    .alerts-tabs__item-title Выберите способ доставки оповещений
                .form__radios.form__radios-prices 
                    .form__radio.form__radio-prices.active
                        input(type="radio" name="parameters-1" checked)
                        .form__radio-btn
                        label.form__radio-label(for="parameters-1") Пробный период
                        label.form__radio-label(for="parameters-1") <span>бесплатно</span>
                    .form__radio.form__radio-prices
                        input(type="radio" name="parameters-1")
                        .form__radio-btn
                        label.form__radio-label(for="parameters-1") 1 месяц
                        label.form__radio-label(for="parameters-1") 150 <span>₽</span>
                    .form__radio.form__radio-prices
                        input(type="radio" name="parameters-1")
                        .form__radio-btn
                        label.form__radio-label(for="parameters-1") 3 месяца
                        label.form__radio-label(for="parameters-1") 250 <span>₽</span>
                    .form__radio.form__radio-prices
                        input(type="radio" name="parameters-1")
                        .form__radio-btn
                        label.form__radio-label(for="parameters-1") 6 месяцев
                        label.form__radio-label(for="parameters-1") 300 <span>₽</span>
                    .form__radio.form__radio-prices
                        input(type="radio" name="parameters-1")
                        .form__radio-btn
                        label.form__radio-label(for="parameters-1") 12 месяцев
                        label.form__radio-label(for="parameters-1") 600 <span>₽</span>
                .form__btns
                    a.form__submit.btn.btn--prev(href="") Назад
                    a.form__submit.btn.btn--green.btn--next(href="") Далее
        .alerts-tabs__item
            .alerts-tabs__item-top
                .alerts-tabs__item-title Способ оплаты
            .form__radios.form__radios-row
                .form__radio.form__radio-row.active
                    input(type="radio" name="parameters-2" checked)
                    .form__radio-btn
                    .form__radio-img    
                        img(src="img/svg/logos/visa.svg", alt="")
                    .form__radio-img    
                        img(src="img/svg/logos/mastercard.svg", alt="")
                    .form__radio-img    
                        img(src="img/svg/logos/mir.svg", alt="")
                .form__radio.form__radio-row
                    input(type="radio" name="parameters-2")
                    .form__radio-btn
                    .form__radio-img    
                        img(src="img/svg/logos/webmoney.svg", alt="")
                .form__radio.form__radio-row
                    input(type="radio" name="parameters-2")
                    .form__radio-btn
                    .form__radio-img    
                        img(src="img/svg/logos/robokassa.svg", alt="")
            .form__btns
                a.form__submit.btn.btn--prev(href="") Назад
                a.form__submit.btn.btn--green.btn--next(href="") Далее
                    