section.contact-us
    .l-default 
        h1.contact-us__title.title.title--h1 Обратная связь
        form.contact-us__form.form
            .form__title Задать свой вопрос:
            .form__input
                label Тема вопроса
                select.select(name="type")  
                    option(selected="selected") Вопрос по кредитному рейтингу
                    option Вопрос по кредитному рейтингу
                    option Вопрос по кредитному рейтингу
                    option Вопрос по кредитному рейтингу
            .form__input
                label Ваш вопрос
                textarea(placeholder="Введите текст вопроса")
            button.form__submit.btn.btn--green(type="submit") Отправить
        .contact-us__history
            .contact-us__history-top
                .contact-us__history-title История сообщений:
                .contact-us__history-sort.sort
                    .sort-title Сортировать:
                    .sort-item.active по дате  
                    .sort-item по теме
                    .sort-item по статусу
            .contact-us__history-item.history
                .history__top
                    .history__title Ваш вопрос:
                    .history__date 02.05.2022
                .history__question Добрый день. Как закрыть кредит если я не знаю как его закрывать? Просроченый кредит позволит, ли мне в дальнейшем брать другие кредиты? Что делать с незакрытым кредитом?  
                .history__answer
                    .history__answer-left
                        .history__answer-logo 
                            +svgMono('emblem')
                    .history__answer-right
                        .history__answer-title Ответ кредитного бюро «Русский стандарт» 
                        .history__answer-text Ваша ситуация сложная, но мы вам поможем. Просто возьмите еще один кредит в банке «Русский стандарт» и закройте предыдущий кредит. Далее выплачивайте новый! Спасибо за обращение. 
            .contact-us__history-item.history
                .history__top
                    .history__title Ваш вопрос:
                    .history__date 02.05.2022
                .history__question Добрый день. Как закрыть кредит если я не знаю как его закрывать? Просроченый кредит позволит, ли мне в дальнейшем брать другие кредиты? Что делать с незакрытым кредитом?  
                .history__answer
                    .history__answer-left
                        .history__answer-logo 
                            +svgMono('emblem')
                    .history__answer-right
                        .history__answer-title Ответ кредитного бюро «Русский стандарт» 
                        .history__answer-text Ваша ситуация сложная, но мы вам поможем. Просто возьмите еще один кредит в банке «Русский стандарт» и закройте предыдущий кредит. Далее выплачивайте новый! Спасибо за обращение. 
            .contact-us__history-item.history
                .history__top
                    .history__title Ваш вопрос:
                    .history__date 02.05.2022
                .history__question Добрый день. Как закрыть кредит если я не знаю как его закрывать? Просроченый кредит позволит, ли мне в дальнейшем брать другие кредиты? Что делать с незакрытым кредитом?  
                .history__answer
                    .history__answer-left
                        .history__answer-logo 
                            +svgMono('emblem')
                    .history__answer-right
                        .history__answer-title Ответ кредитного бюро «Русский стандарт» 
                        .history__answer-text Ваша ситуация сложная, но мы вам поможем. Просто возьмите еще один кредит в банке «Русский стандарт» и закройте предыдущий кредит. Далее выплачивайте новый! Спасибо за обращение. 