section.section
    .l-default
        h1.section__title.title.title--h1 Кредитные отчеты от агентов
        .section__content
            .section__items
                .section__subtitle.section__subtitle 
                    strong В данном разделе будут отображаться отчеты, полученные субъектом кредитной истории у агентов-партнеров Бюро.
            .section__sidebar
                .section__message
                    .section__message-img
                        +webp(['1'], 'jpg', 'lazy')
                    .section__message-content
                        .section__message-title Сервис оповещений
                        .section__message-text Всем пользователям, ранее не подключавшим оповещения, Сервис оповещений доступен бесплатно в течение 1-го месяца. Для активации предложения выберите бесплатный пробный период подписки – 1 месяц.
                        a.section__message-btn.btn.btn--green(href="") Перейти 
