section.corporate
    .l-default
        h1.corporate__title.title.title--h1 Корпоративным клиентам
        .corporate__items
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('banks')
                .corporate__item-title БАНКИ, МФО И КПК
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('agents')
                .corporate__item-title Для коллекторских агенств
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('companies')
                .corporate__item-title Для страховых компаний
            a.corporate__item(href="")
                .corporate__item-icon
                    +svgMono('jku')
                .corporate__item-title Для ЖКУ