-
    const report_items = [
        {
            date: '25.08.2021',
            time: '15:03:03',
            word: 'Хорошо',
            class: 'good',
            dept: '',
            delays: '—',
            query: '12',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            word: 'Хорошо',
            class: 'good',
            dept: '',
            delays: '—',
            query: '12',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            word: 'Хорошо',
            class: 'good',
            dept: '',
            delays: '—',
            query: '12',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            word: 'Хорошо',
            class: 'good',
            dept: '',
            delays: '—',
            query: '12',
        },
        {
            date: '25.08.2021',
            time: '15:03:03',
            word: 'Хорошо',
            class: 'good',
            dept: '',
            delays: '—',
            query: '12',
        },
    ]