section.report.report-2 
    .l-default
        h1.report__title.title.title--h1 Кредитный отчет
        .section__top
            a.section__btn.btn.btn--green(href="") Новый отчет
        .report__item
            .report__item-top
                .report__item-title Субъект запроса
            .report__item-row
                .report__item-left.report__item-text
                    strong Фамилия, имя , отчество, дата рождения
                .report__item-right.report__item-text 
                    strong Иванов Иван Петрович 21.07.1993
            .report__item-row
                .report__item-left.report__item-text 
                    strong Документ
                .report__item-right.report__item-text Паспорт гражданина 
                    strong РФ 4564 156321, выдан 
                    strong 23.08.2013
            .report__item-row
                .report__item-left.report__item-text 
                    strong Документ
                .report__item-right.report__item-text Паспорт гражданина 
                    strong РФ 4564 156321, выдан 
                    strong 23.08.2013
        .report__item
            .report__item-top
                .report__item-title Ответ на запрос
            .report__item-row
                .report__item-left.report__item-text 
                    strong Дата/время формирования ответа
                .report__item-right.report__item-text 
                    strong 17.01.2022 17:37:02
        .section__top
            .section__top-title Титульная часть
        .report__item
            .report__item-top
                .report__item-title Сведения о кредитной истории
            .report__item-row
                .report__item-left.report__item-text Фамилия, имя , отчество, дата рождения, место рождения
                .report__item-right.report__item-text 
                    strong Иванов Иван Петрович 21.07.1993, Город. Душанбе Таджикистан
            .report__item-row
                .report__item-left.report__item-text Дата актуальности; дата появления информации
                .report__item-right.report__item-text 
                    strong 23.10.2017, 28.02.2016 №63
