section.report-consolidated 
    .l-default
        h1.section__title.title.title--h1 Сводный отчет бюро
        .section__content
            .section__items
                .section__subtitle.section__subtitle 
                    strong СВОДНЫЙ КРЕДИТНЫЙ ОТЧЕТ - это возможность получить информацию о своей кредитной истории из 2-х крупнейших БКИ в России в одном документе.
                .section__text.section__text 
                    p Кредитные организации могут передавать сведения в разные бюро кредитных историй (БКИ). Поэтому кредитная история пользователя в разных бюро может отличаться - информации об отдельных кредитных договорах может не быть в одном бюро, но она может присутствовать в другом и наоборот. Кредитные отчеты БКИ имеют свои особенности и различия в информационном наполнении. В рамках услуги «Сводный кредитный отчет» запрос направляется в следующие бюро: НБКИ и кредитное бюро Русский Стандарт. 
                .swiper-container.section__table-slider.table-slider
                    .swiper-wrapper
                        table.section__table.table.swiper-slide
                            thead 
                                tr 
                                    td Дата создания
                                    td Статус
                                    td Результат запроса
                            tbody 
                                tr 
            .section__sidebar
                .section__error
                    .section__get-error Мы обновляем раздел. Извините за  временные неудобства
                .section__message
                    .section__message-img
                        +webp(['1'], 'jpg', 'lazy')
                    .section__message-content
                        .section__message-title Сервис оповещений
                        .section__message-text Всем пользователям, ранее не подключавшим оповещения, Сервис оповещений доступен бесплатно в течение 1-го месяца. Для активации предложения выберите бесплатный пробный период подписки – 1 месяц.
                        a.section__message-btn.btn.btn--green(href="") Перейти 
